.Title {
  overflow-wrap: break-word;
}

.h1 {
  font-family: 'SB Sans Interface', sans-serif;
}

.h2 {
  font-family: 'SB Sans Interface', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.h3 {
  font-family: 'SB Sans Interface', sans-serif;
}

.h4 {
  font-family: 'SB Sans Interface', sans-serif;
}

.h5 {
  font-family: 'SB Sans Interface', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.primary {
  color: inherit;
}

.secondary {
  color: var(--pale-dark);
}
