@font-face {
  font-family: 'SB Sans Interface';
  src: url('../fonts/SB Sans Interface.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'SB Sans Text Mono';
  src: url('../fonts/The Sans Mono- Regular.ttf') format('ttf');
  font-display: swap;
}
